* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.spacer {
    flex: 1;
    height: 100%;
}


body {
    --border-radius: 3rem;
    --sand-color: #F5F0E1;
    --dark-color: #012229;
    --coral-color: #7A5292;

    --main-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --big-font: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(rgba(2, 214, 236, 0.6), rgba(1, 34, 41, 0.6)), url("/mossBlue.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100px;
    z-index: -5;
}

#pattern {
    margin: 1.5rem;
    font-size: 30px;
}

#top-bar {
    display: flex;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: var(--big-font);
    font-size: 2rem;
    padding: 1rem;
    gap: 0.5rem;
    z-index: 100;
    background-color: var(--sand-color);
    filter: drop-shadow(0 0.05rem 0.5rem var(--dark-color));
}

#top-bar::before {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 100%;
    height: 1rem;
    background-color: var(--sand-color);
    z-index: -1;

    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' preserveAspectRatio='none'%3E%3Cpath d='M0,120V40C150,90,280,10,450,55C620,100,750,20,920,65C1070,110,1150,30,1200,40V120Z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' preserveAspectRatio='none'%3E%3Cpath d='M0,120V40C150,90,280,10,450,55C620,100,750,20,920,65C1070,110,1150,30,1200,40V120Z'/%3E%3C/svg%3E");

    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    transform: scaleY(-1); 
}

#top-bar button, #top-bar select {
    padding: 0.5rem 1.2rem;
    border: var(--dark-color) solid 2px;
    border-radius: 2em;
    cursor: pointer;
    background-color: transparent;
    color: var(--dark-color);
}

#bot-bar {
    position: sticky;
    bottom: 0;
    display: flex;
    padding: 1rem;
    gap: 1rem;
    z-index: 50;

    justify-content: center;
    pointer-events: none;
}

#bot-bar button {
    border: none;
    background-color: var(--dark-color);
    color: #fff;
    box-shadow: var(--dark-color) 0 0 0.6em 0.1em, #fff 0 0 0.1em 0.05em;
    padding: 1em 2em;
    pointer-events: all;
}

.overlay {
    font-family: var(--big-font);
    display:flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fffa;

    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    color: var(--dark-color);
    font-size: 3rem;

    z-index: 75;
}


.canvas-container {
    flex: 1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(350px, calc(100vw - 2 * 2rem)), 1fr));
    align-content: start;
    gap: 3.5rem;
    padding: 2rem;
    margin: 0 auto;
    
    max-width: 1300px;
}

.canvas-container canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    z-index: 1;
    pointer-events: none;
}

.card-border::after {
    --border-width: 1rem;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    margin: calc(-2*var(--border-width) / 2);
    
    border: var(--border-width) solid var(--sand-color); 
    /* box-shadow: inset 0 0 0 0.1rem #000; */
    border-radius: var(--border-radius);
    box-shadow: var(--dark-color) 0 0.1rem 0.5rem 0.1rem;

    pointer-events: none;
    z-index: 10;
}

.card-border {
    position: relative;
    display: flex;
    flex-direction: column;
}

.pattern-card {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
}

.pattern-card .scene {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1;
    z-index: 0;
    background: 
        radial-gradient(
            circle at center, 
            color-mix(in srgb, var(--coral-color), #fff 60%) 0%,
            #fff 100%
        );
}

#scene-tut {
    width: 40%;
    height: 40%;
}

.chart {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    background-color: #fffa;
    z-index: 3;
    transition: all 0.2s ease-in-out;
}

.chart svg {
    width: 100%;
    height: 100%;
}

.chart path,line {
    vector-effect: non-scaling-stroke;
}

.chart line {
    stroke: color-mix(in srgb, var(--coral-color), #000 40%);
}

.card-controls {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    z-index: 5;
    background-color: var(--sand-color);
    align-items: center;
}

.card-controls::before {
    content: "";
    position: absolute;
    top: -1.5rem;
    left: 0;
    width: 100%;
    height: 26px;
    
    background-color: var(--sand-color);

    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 40' preserveAspectRatio='none'%3E%3Cpath d='M0,40V25Q75,5,150,25T300,20V40Z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 40' preserveAspectRatio='none'%3E%3Cpath d='M0,40V25Q75,5,150,25T300,20V40Z'/%3E%3C/svg%3E");
    
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.card-controls button {
    flex: 2;
    color: color-mix(in srgb, var(--coral-color), #000 50%);

    background: transparent;
    border: 2px solid color-mix(in srgb, var(--coral-color), #000 20%);
}


.card-controls button svg {
    height: 1.5rem;
    width: 1.5rem;
    stroke-width: 2.5;
    stroke: color-mix(in srgb, var(--coral-color), #000 50%);
}

.card-controls button svg path,line {
    vector-effect: non-scaling-stroke;
}

button.select-btn {
    flex: 0;
    width: 2em;
    height: 2em;
    aspect-ratio: 1;
    z-index: 5;
    
    border: none;
    border-radius: 50%;
    padding: 1rem;
    background-color: var(--sand-color);
    color: var(--sand-color);

    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 1px var(--dark-color), 0 0 8px color-mix(in srgb, var(--coral-color), #000 20%);
}

.select-btn:hover {
    transform: scale(1.1);
}

.select-btn.selected {
    background-color: var(--coral-color);
    color: var(--dark-color);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--main-font);
    font-weight: bold;

    cursor: pointer;
    border-radius: 2em;
}

.overlay button {
    flex: 0;
    padding: 1em 2em;
    background-color: var(--sand-color);
    transition: none;
}


.overlay .tutorial {
    position: relative;
    max-height: 70vh;
    margin: 1rem;
    max-width: min(350px, calc(100vw - 4rem));
}

.overlay .tutorial button {
    pointer-events: none;
    padding: 0.2em;
}


.tut-text {
    --left: 0;
    --top: 0;
    font-family: var(--main-font);
    font-size: 1rem;
    color: var(--dark-color);
    position: absolute;
    left: var(--left);
    top: var(--top);
    z-index: 100;
    width: fit-content;

    background-color: #fffa;
    backdrop-filter: blur(2px);
    padding: 0.25em 0.75em;
    border-radius: 2em;
}

.tut-text.left-top {
    top: unset;
    bottom: var(--top);
}

.tut-text.right-top {
    top: unset;
    bottom: var(--top);
}

.tut-text::after {
    content: "⤹";
    position: absolute;
    text-shadow: none;
    font-size: 2.3em;
    color: var(--dark-color);
}

.tut-text.left-top::after {
    top: 100%;
    left: 25%;
    rotate: -0deg;
    margin-top: -0.2em;
}

.tut-text.right-top::after {
    content: "⤸";
    top: 100%;
    right: 25%;
    rotate: 40deg;
    margin-top: -0.4em;
}

.tut-text.right-bot::after {
    top: -2.1rem;
    right: 50%;
    rotate: 170deg;
}

@media (max-width: 480px) {
    .tut-text {
        max-width: 120px; 
        text-align: center;
        white-space: normal;
    }
    
    .tut-text.right-bot::after {
        top: -1.8rem;
    }

    .overlay {
        gap: 3rem;
    }
}